@charset "UTF-8";

body {
  margin: 0;
  background: #fbfbfb;
}

i.fas , span.glyphicon , span.hidden-xs{
	text-align: center;
	color:black;
}

#nav-container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 70px;
  background: white;
}

#navbar {
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

#left {
    float: left;
    width: 200px;
    height: 20px;
}

#center {
	padding-top:5px;
    display: inline-block;
    margin: 0 auto;
    min-width: 600px;
}

#right {
    float: right;
    width: 200px;
    height: 20px;
}

#input-field {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  height: 25px;
  padding-left: 5px;
  margin-left:200px;
}


#logo-icon {
  width: 30px;
  padding-right: 20px;
  padding-top: 3px;
  border-right: 1px solid black;
  float: left;
}

#logo-name {
  float: left;
  width: 120px;
  padding-left: 15px;
}

.nav-icon {
  float: right;
  width: 26px;
  padding: 0 15px 0 15px;
}

.header {
  width: 600px;
  height: 55px;
  margin: 0 auto;
  border: 1px solid #efefef;
  border-radius: 3px 3px 0 0;
  background: white;
}

.prf-pic img{
  float: left;
  border-radius: 50%;
  margin: 12px 0 0 12px;
  width: 30px;
}

.account-name {
  font-family: Arial;
  font-weight: 700;
  font-size: 14px;
  float: left;
  line-height: 55px;
  margin-left: 10px;
}

.timestamp {
  font-family: Arial;
  color: #a2a2a2;
  float: right;
  line-height: 55px;
  margin-right: 15px;
}

.img-footer {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #efefef;
  margin-bottom: 70px;
  margin-top: 0px;
  border-radius: 0 0 3px 3px;
  background: white;
}

.comments-content {      /*the place where comments show up*/
  margin: 20px;
  min-height: 30px;
  padding-bottom: 15px;
/*   background: red; */
  border-bottom: 1px solid #efefef;
}

.comments-field {      /*styling for the text-box*/
  margin: 20px;
/*   background: green; */
}

.comment-text {
  width: 600px;
  margin: 0 auto;
  border-style: solid;
  border-color: grey;
  border-width: 0 1px 0 1px;
}

.text-box {        /*the place where comments are typed*/
  width: 510px;
  border: none;
}

.text-box:focus {
  outline: none;
}



.comment-name {          /*the name that shows up when you write a comment*/
  font-family: Arial;
  float: left;
  margin-right: 5px;
}

.posted-comment {      /*comment that shows up after you hit enter*/
  float: left;
}

.heart-pic img{    /*the small, permanent heart*/
  width: 20px;
  float: left;
}

.like-heart {     /*the heart that occurs when you click*/
  position: absolute;
  top: 50%;
  left: 50%;
}

.main-body {
  clear: both;
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px;
}

.feed-img {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 600px;
  border-style: solid;
  border-color: #efefef;
  border-width: 0 1px 0 1px;
}



/*Notification Bell dropdown*/
.top-nav {
	width: 300px;
    padding: 0 5px;
}
.top-nav > li {
    display: inline-block;
    float: left;
}
.top-nav > li > a {
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
}
.top-nav > li span.badge {
    background: #ca3f02 none repeat scroll 0 0;
    border: 2.5px solid #262727;
    font-family: "Open Sans",sans-serif;
    font-size: 9px;
    font-weight: 300;
    padding: 2px 5px;
    position: absolute;
    right: 3px;
    top: 3px;
}
.dropdown-notification .dropdown-menu{width:370px;   max-width: 370px;
    min-width: 160px;}
.dropdown-notification > a {
    font-size: 18px !important;
    line-height: 29px !important;
}
.top-nav .dropdown-menu .dropdown-menu-list {
    list-style: outside none none;
    padding-left: 0;
    padding-right: 0 !important;
    
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
    border-radius: 4px 4px 0 0;
    display: block;
    letter-spacing: 0.5px;
    overflow: hidden;
    padding: 15px;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external > h3 {
    display: inline-block;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #888;
    clear: inherit;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    right: 10px;
}
.top-nav > li.dropdown-notification .dropdown-menu > li.external {
    background: #eaedf2 none repeat scroll 0 0;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list {
    list-style: outside none none;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a {
    clear: both;
    display: block;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding: 16px 15px 18px;
    text-shadow: none;
    white-space: normal;
    border-bottom: 1px solid #eff2f6 !important;

}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .time {
    float: right;
    font-size: 11px;
    font-weight: 400;
    max-width: 75px;
    opacity: 0.7;
    padding: 1px 5px;
    text-align: right;
    background: #f1f1f1 none repeat scroll 0 0;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details {
    font-size:13px;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon {
    border-radius: 50%;
    margin-right: 10px;
}
.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
    background-color: #fbfbfb;
    color: #999999;
}
.top-nav > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li > a:hover {
    background: #f8f9fa none repeat scroll 0 0;
}

.top-nav li.dropdown>a.users{
	padding : 5px;
	padding-left: 8px;
}


.footer-bottom {
	position:fixed;
	background: #eaeaea;
	border-top: 1px solid #DDDDDD;
	padding-top: 12px;
	padding-bottom: 12px;
	left:0px;
   	bottom:0px;
 	height:60px;
 	width:100%;
}
.footer-bottom div.footer-div {
	padding-top: 6px;
	text-align: center;
}